/*===============================


Universal Styling


==============================*/

* {
  margin: 0px;
  padding: 0px;
}

@font-face{
  font-family: 'Helvetica Neue'
  src: url('../fonts/helveticaneue.ttf') format('truetype');
}

header {
    background: #000000;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
}

header li {
    display: inline-block;
    margin: 0 px
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}


body {
  background-image: url('../images/desert.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%
}

ul li {
  display: inline;
}

li a {
  text-decoration: none;
  text-align: left;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  text-decoration: underline;
  color: #4da7b1;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: left;
  color: #4da7b1;
  text-transform: uppercase;
}

h3 {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: left;
  color: #4da7b1;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: left;
}

section {
  background-color: #fbf9f947
}

section {
  margin: 40px 0;
  text-align: left;
}

img {
  width: 30%;
  margin: auto;
  display: block;
}
