/*===============================


Universal Styling


==============================*/

* {
  margin: 0px;
  padding: 0px;
}

@font-face{
  font-family: 'Helvetica Neue'
  src: url('../fonts/helveticaneue.ttf') format('truetype');
}


nav a:hover {
  text-decoration: underline;
  color: #ffffff;
  transition: .3s;
}


header {
    background: #000000;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    letter-spacing: 2px;
}

header li {
    display: inline-block;
    margin: 0 px
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}


body {
  background-image: url('../images/desert.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%
}

ul li {
  display: inline;
}

li a {
  text-decoration: none;
  text-align: left;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: right;
  text-decoration: none;
  color: #000000;
  letter-spacing: 10px;
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: left;
  color: #000000;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: left;
  color: #000000;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: left;
}

section {
  background-color: #fbf9f947
}

section {
  max-width: 800px;
  margin: 40px;
  padding: 20px;
  text-align: left;
}

img {
  max-width: 720px;
  margin: auto;
  display: block;
}

/*===============================


Position Styling


==============================*/

.text-image-container {
  position: relative;
  max-width: 800px;
}

.text-container {
  position: absolute;
  top: 0;
  color: #ffffff;
  padding: 120px 80px 20px 570px;
}

.sandworm {
  max-width: 170px;
  position: absolute;
  top: 600px;
  left: 0px;
  animation-name: drive;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1000px);
  }
}
